.container {
    .table {
        img {
            max-width: 100px;
            border-radius: 5px;
        }

        .site {
            max-width: 150px;
            overflow: hidden;
            a {
                color: white;
            }
        }

        --bs-table-bg: transparent;
        --bs-table-color: white;
        // border: 1px solid white;
        // border-radius: 20px;

    }

    .container-table {
                border: 1px solid white;
        border-radius: 10px;
    }
}