.container {
    .table {
        img {
            max-width: 100px;
            border-radius: 5px;
        }

        .site {
            max-width: 150px;
            overflow: hidden;
        }
    }
}